body {
  font-family: Arial;
  background: linear-gradient(to right, #ff9966, #ff5e62);
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 750px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

form input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  background-color: #ff5e62;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e14b4f;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

#message {
  margin-bottom: 10px;
  font-weight: bold;
}

.success {
  color: green;
}

.error {
  color: red;
}
